<section data-ng-controller="HomeController">
    </br>
        <div class="core-main-image-container" layout="column" layout-align="center center">
            <img alt="MEAN.JS" class="md-padding core-main-image" src="modules/core/img/brand/materialdesign_principles_metaphor.png" />
        </div>
        <div layout="column" layout-align="center center"> 
            <p class="lead">
                Open-Source Full-Stack MEAN Material Application
            </p>
            <a target="_blank" href="https://material.angularjs.org/latest/#/"><md-button class="md-raised md-primary">Learn More</md-button></a>
        </div>
   

	<div class="md-padding" layout="column" layout-align="center center">
        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            <div class="md-padding">
                <h2 class="h2-core-title">Let's Materialise</h2>
                <p>We have taken the MEAN.JS application boilerplate and replaced Bootstrap with Material design!</p>
                <p>This sample application is a starting point for building MEAN applications that tie in with material design.</p>
            </div>
        </md-whiteframe>
    </div>
	<div layout="row" layout-md="column" layout-sm="column" layout-margin>
		<div flex>
            <div layout="column" layout-align="center center">
                <md-icon>
                    <i class="material-icons md-48 blue-sky-blue">storage</i>
                </md-icon>
            </div>
            </br>
            <div layout="column" layout-align="center center">
                <h2 class="md-title">MongoDB</h2>
                <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
            </div>
		</div>
		<div flex>
            <div layout="column" layout-align="center center">
                <md-icon>
                    <i class="material-icons md-48 lightning-yellow">flash_on</i>
                </md-icon>
            </div>  
            </br>
            <div layout="column" layout-align="center center">
                <h2 class="md-title">Express</h2>
                <p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
            </div>
		</div>
		<div flex>
            <div layout="column" layout-align="center center">
                <md-icon>
                    <i class="material-icons md-48 deeper-red">layers</i>
                </md-icon>
            </div>  
            </br>
            <div layout="column" layout-align="center center">
                <h2 class="md-title">AngularJS</h2>
                <p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
            </div>
		</div>
		<div flex>
            <div layout="column" layout-align="center center">
                <md-icon>
                    <i class="material-icons md-48 kermit-green">extension</i>
                </md-icon>
            </div>  
            </br>
            <div layout="column" layout-align="center center">
                <h2 class="md-title">NodeJS</h2>
                <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
            </div>
		</div>
	</div>
</section>