<section data-ng-controller="HomeController">
    </br>
    <md-whiteframe class="md-whiteframe-z2" layout="column" layout-align="center center">
        <img alt="MEAN.JS" class="img-responsive text-center md-padding" src="modules/core/img/brand/logo.png" />
        </br>
        <p class="lead">
            Open-Source Full-Stack Material MEAN Application
        </p>
<a target="_blank" href="https://material.angularjs.org/latest/#/"><md-button class="md-raised md-primary">Learn More</md-button></a>
        </br>
    </md-whiteframe>

	<div layout="column">
        <div class="md-padding">
            <h2>Congrats! You've configured and run the sample application.</h2>
            <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
            <p>This sample application is a starting point for building MEAN applications that tie in with material design.</p>
            <ul>
                <li>
                    Click
                    <em>Signup</em>
                    to get started.
                </li>
                <li>
                    Configure your app to work with your social accounts, by editing the
                    <em>/config/env/*.js</em>
                    files.
                </li>
                <li>
                    Edit your users module.
                </li>
                <li>
                    Add new CRUD modules.
                </li>
                <li>
                    Have fun...
                </li>
            </ul>
        </div>
    </div>
	<div layout="row" layout-md="column" layout-sm="column" layout-margin>
		<div flex>
            <md-card>
                <img src="http://s3.amazonaws.com/info-mongodb-com/_com_assets/media/mongodb-logo-rgb.jpeg" class="md-card-image md-padding" alt="Mongo">
                <md-card-content>
                    <h2 class="md-title">MongoDB</h2>
                    <p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
                </md-card-content>
            </md-card>
		</div>
		<div flex>
            <md-card>
                <img src="https://i.cloudup.com/zfY6lL7eFa-3000x3000.png" class="md-card-image md-padding" alt="Express">
                <md-card-content>
                    <h2 class="md-title">Express</h2>
                    <p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
                </md-card-content>
            </md-card>
		</div>
		<div flex>
            <md-card>
                <img src="https://angularjs.org/img/AngularJS-large.png" class="md-card-image md-padding" alt="Angular">
                <md-card-content>
                    <h2 class="md-title">AngularJS</h2>
                    <p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
                </md-card-content>
            </md-card>
		</div>
		<div flex>
            <md-card>
                <img src="http://calebmadrigal.com/images/nodejs-logo.png" class="md-card-image" alt="NodeJS">
                <md-card-content>
                    <h2 class="md-title">NodeJS</h2>
                    <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
                </md-card-content>
            </md-card>
		</div>
	</div>
	<div layout="column">
        <div class="md-padding">
            <h2>MEAN.JS Documentation</h2>
            <p>
                Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
                <ul>
                    <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
                    </li>
                    <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
                    </li>
                    <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
                    </li>
                    <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
                    </li>
                    <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
                    </li>
                    <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
                    </li>
                </ul>
            </p>
        </div>
	</div>
</section>