<section data-ng-controller="AuthenticationController">
    <div layout="column" layout-align="center center">
        <h3>Sign in using your social accounts</h3>
        <div flex>
            <a href="/auth/facebook" class="undecorated-link">
                <img class="md-padding" src="/modules/users/img/buttons/facebook.png">
            </a>
            <a href="/auth/twitter" class="undecorated-link">
                <img class="md-padding" src="/modules/users/img/buttons/twitter.png">
            </a>
            <a href="/auth/google" class="undecorated-link">
                <img class="md-padding" src="/modules/users/img/buttons/google.png">
            </a>
            <a href="/auth/linkedin" class="undecorated-link">
                <img class="md-padding" src="/modules/users/img/buttons/linkedin.png">
            </a>
            <a href="/auth/github" class="undecorated-link">
                <img class="md-padding" src="/modules/users/img/buttons/github.png">
            </a>
        </div>
        <md-content layout-padding>
            <md-divider></md-divider>
            <div layout="column" layout-align="center center">
	           <h3>Or with your account</h3>
            </div>
            <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <md-icon>
                                <i class="material-icons">account_circle</i>
                            </md-icon>
                            <input type="text" required id="username" name="username" data-ng-model="credentials.username" placeholder="Username">
                        </md-input-container>
                        <md-input-container flex>
                            <md-icon>
                                <i class="material-icons">vpn_key</i>
                            </md-icon>
                            <input type="password" required id="password" name="password" data-ng-model="credentials.password" placeholder="Password">
                        </md-input-container>
                    </div>
                    <div flex>
                        <a href="/#!/password/forgot">Forgot your password?</a>
                    </div>
                    <div data-ng-show="error">
                        <strong data-ng-bind="error"></strong>
                    </div>
                    <div layout="column" layout-align="center end">
                        <button type="submit" class="md-button md-raised md-primary">sign in</button><a href="/#!/signup">Or Sign up</a>
                    </div>
                </fieldset>
            </form>
        </md-content>
    </div>
</section>
	
<!--
<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
					<a href="/#!/signup">Sign up</a>
				</div>
				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>-->
