<section data-ng-controller="SettingsController" data-ng-init="find()">
    
        <div layout="row" layout-sm="column" layout-margin layout-padding>
            <div class="user-filter" flex>
                <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                    <div layout="column" layout-sm="column">
                        <h3 class="md-headline">Manage User Accounts</h3>
                        <md-input-container flex>
                            <input type="text" id="search" name="search" placeholder="Search">
                        </md-input-container>
                        <md-checkbox class="md-warn" aria-label="Admin">
                            Admin
                        </md-checkbox>
                        <md-checkbox class="md-warn" aria-label="User">
                            User
                        </md-checkbox>
                        <md-checkbox class="md-warn" aria-label="Locked">
                            Locked
                        </md-checkbox>
                    </div>
                </md-whiteframe>
            </div>
            <div flex>
                <md-whiteframe class="md-whiteframe-z2" layout>
                    <md-list class="user-list">
                        <div layout="row">
                            <md-subheader>Users</md-subheader>
                            <md-icon class="user-card-menu-item">
                                    <i class="material-icons md-24">add</i>
                            </md-icon>
                        </div>
                        <md-list-item class="md-3-line" ng-repeat="user in users">
                            <md-icon>
                                <i class="material-icons md-48">account_circle</i>
                            </md-icon>
                            <div class="md-list-item-text">
                                <h3>{{ user.username }}</h3>
                                <p>{{ user.firstName }} {{ user.lastName }}</p>
                                <p>{{ user.email }}</p>
                                <md-icon class="md-secondary">
                                    <i class="material-icons md-24">more_vert</i>
                                </md-icon>
                            </div>
                            <md-divider ></md-divider>
                        </md-list-item>
                    </md-list>
                </md-whiteframe>
            </div>
        </div>
    </md-content>
</section>